
.body
{
	z-index:1;
	position:relative;

}

.box1
{
	width:650px;
	height:375px;
	margin-left:100px;
	background:#ffffff;
}

.box2
{
	width:270px;
	height:150px;
	margin-right:100px;
	background:#ffffff;
	float:right;
	display:inline-block;
}

#stackoverflow
{
	height:48px;
	width:48px;
	padding:7px;
	margin:5px;
	border:5px;
}

#linkedin
{
	height:48px;
	width:48px;
	padding:7px;
	margin:5px;
	border:5px;
}

#github
{
	height:48px;
	width:48px;
	padding:7px;
	margin:5px;
	border:5px;
}


header 
{
	font-size: 30px;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-weight: bold;
	background:#4aaaa5;
	display: inline-block;
	width:350px;
	height: 50px;
	color:#ffffff;
	border-bottom: solid;
	border-width: 5px;
	margin-left:100px;
}


h1
{
	font-size:24px;
	font-family: Arial, "helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color:#4aaaa5;
	border-bottom:solid;
	border-color:#cccccc;
}

img
{
	float:left;
	margin:20px;
}

.list
{
	margin-top: 20px;
	float:right;
	list-style: none;
	padding:10px;
	text-decoration: none;
	color:#ffffff;
}

h2 
{
	color:#4aaaa5;
	border-bottom:solid;
	border-color:#cccccc;
}

a 
{
    color: grey;
    text-decoration: none;
}

.footer
{

	background-color:grey;
	border-top:solid;
	border-width:10px;
	height:75px;
	padding:20px;
	border-color:#4aaaa5;
	position:absolute;
	bottom:0;
	width:100%;

}

footer
{
	text-align:center;
	font-size: 10px;
	color:#ffffff;
}

#Whirlpool
{
	top:0;
	left:0;
	position:fixed;
	width:100%;
	height:100%;
	z-index: -1000;
}

#Connectwithme
{
	color:#4aaaa5;
	font-size:24px;
	font-weight:bold;
	border-bottom:solid;
	border-color:#cccccc;
}

.box3
{
	width:650px;
	height:375px;
	background:#ffffff;
	margin-left:100px;
}

