
header 
{
	font-size: 30px;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-weight: bold;
	background:#4aaaa5;
	display: inline-block;
	width:350px;
	height: 50px;
	color:#ffffff;
	border-bottom: solid;
	border-width: 5px;
}



h1
{
	font-size:24px;
	font-family: Arial, "helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	color:#4aaaa5;
}

img
{
	float:left;
	margin:20px;
}

.list
{
	margin-top: 20px;
	float:right;
	list-style: none;
	padding:10px;
	text-decoration: none;
	color:#ffffff;
}
h2 
{
	color:#4aaaa5;
}
a {
    color: grey;
    text-decoration: none;
}